// #region Global Variables
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Inter");

$colors: (
  "black": #030303,
  "blue": #1e2fc7,
  "orange": #d47f00,
  "orange-shade": #945a02,
  "teal": #05828e,
  "teal-shade": #044e55,
);

$opacity: (
  "blur": 0.7,
  "focused": 1,
);

$shadow: rgba(0, 0, 0, 0.32);

$screen-sm: 576px;
$screen-md: 768px;

$card-gap-collapsed: 10%;
$card-gap-expanded: 20%;
$card-offset-expanded: 10%;

$index-intro-duration: 500ms;
// #endregion

// #region Global Default Styles and Fixes
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card {
  width: 70%;
  height: 70%;
  background-size: cover;

  position: absolute;
  bottom: 0;

  // center
  margin-left: 15%;

  background-color: white;
  box-shadow: 0px -6px 7px $shadow;
  border-radius: 10px;

  transition: all 300ms ease-in-out 0s;
}

.card.card-right {
  bottom: unset;
  right: 0;

  // override center
  margin-left: 0 !important;
  margin-top: 15%;

  box-shadow: -6px 0px 7px $shadow !important;
}

nav {
  padding: 15px;
  position: relative;

  .float-left {
    display: block;
    position: absolute;
  }

  > h1 {
    text-align: center;
  }

  .back-button {
    content: url(../images/arrow-back.svg);
    max-width: 30px;
  }
}

body {
  font-family: "Montserrat";
  color: white;
  background-color: map-get($colors, "black");
}

a {
  text-decoration: none;
  color: unset;

  &.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
  }

  &.underline {
    display: inline-block;
    color: map-get($colors, "teal");
  
    &:after {
      content: "";
      width: 0px;
      height: 2px;
      display: block;
      background: map-get($colors, "teal");
      transition: 300ms;
  
      animation: expand-full-width 600ms ease-in-out 0s alternate 2;
    }
  
    &:hover:after {
      width: 100%;
    }
  }
}

button {
  // Reset values
  color: map-get($colors, "teal");
  font-weight: 500;
  background: none;
  border: none;
  font-family: "Montserrat";
  font-size: 0.75em;
  cursor: pointer;

  // Custom Style
  padding: 0 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  border: 2px map-get($colors, "teal") solid;
  outline: none;
}

p {
  margin-bottom: 1em;
}

// #endregion

// #region ---------- INDEX ----------

#index-body {
  font-size: 0.7em;
  background-color: map-get($colors, "black");

  .container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-flow: column wrap;
    overflow: hidden;

  }

  // override links color, animation delay
  a {
    color: white !important;

    &:after {
      animation: expand-full-width 600ms ease-in-out
        ($index-intro-duration + 1000) 2 alternate !important;
    }
  }
}

// #region Flexbox
[class*="box-"] {
  width: 50%;
}

.box-1 {
  background-color: map-get($colors, "blue");
  flex: 1 1 33%;
}

.box-2 {
  flex: 2 2 66%;
}

.box-3 {
  flex: 1 1 33%;
}

.box-4 {
  background-color: map-get($colors, "teal");
  flex: 1 1 33%;
}

.box-5 {
  background-color: map-get($colors, "orange");
  flex: 1 1 33%;
}

@media (min-width: $screen-sm) {
  #index-body {
    font-size: 1em !important;
  }
}

@media (min-width: $screen-md) {
  #index-body {
    font-size: 1.2em !important;
  }

  [class*="box-"] {
    width: 33.33% !important;
  }

  .box-1,
  .box-2,
  .box-3,
  .box-4,
  .box-5 {
    flex: 1 1 50%;
  }

  .box-3 {
    order: 3;
  }

  .box-4 {
    order: 2;
  }

  .box-5 {
    order: 4;
  }

  .box-2 {
    order: 5;
  }
}
// #endregion

// #region Box Styles
// Section - Name
.box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;

  .name {
    font-size: 2em;
  }

  .dot {
    font-size: 2em;
    color: map-get($colors, "orange");
  }
}

// Section - Desc
.box-3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .text-desc {
    padding-right: 1em;
    padding-top: 2em;

    > h1 {
      text-align: right;
      font-weight: normal;

      .text-desc-highlight {
        font-weight: bold;
        font-size: 1.4em;
      }
    }
  }

  position: relative;
  overflow: hidden;
  .desc-bg {
    font-size: 8em;
    font-weight: 1000;
    opacity: 0.15;
    position: absolute;
    top: 0;
    right: -10%;
  }
}

// Section - Works
.box-4 {
  display: flex;
  flex-flow: column nowrap;
  z-index: 0;
  .col {
    flex: 1 1 50%;
  }

  .upper-box {
    z-index: 2;
    background-color: map-get($colors, "teal-shade");
    box-shadow: 0 -5px 6px $shadow;

    display: flex;
    justify-content: center;
    align-items: center;
    > h1 {
      font-size: 2.4em;
      letter-spacing: 0.05em;
      opacity: map-get($opacity, "blur");
    }
  }

  // Cards - Works
  position: relative;
  .card:nth-child(1) {
    bottom: (2 * $card-gap-collapsed);
    background-image: url("../images/roomfiles/room.png");
  }

  .card:nth-child(2) {
    bottom: (1 * $card-gap-collapsed);
    background-image: url("../images/edzer/login.png");
  }

  .card:nth-child(3) {
    bottom: (0 * $card-gap-collapsed);
    background-image: url("../images/budget-planner/backup.png");
  }

  cursor: pointer;
  &:hover {
    .upper-box {
      > h1 {
        transition: 0.1s opacity ease-in;
        opacity: map-get($opacity, "focused");
      }
    }

    .card:nth-child(1) {
      bottom: (2 * $card-gap-expanded) + $card-offset-expanded;
    }

    .card:nth-child(2) {
      bottom: (1 * $card-gap-expanded) + $card-offset-expanded;
    }

    .card:nth-child(3) {
      bottom: (0 * $card-gap-expanded) + $card-offset-expanded;
    }
  }
}

// Section - About
.box-5 {
  display: flex;
  z-index: 0;

  .col {
    flex: 1 1 50%;
  }

  .upper-box {
    z-index: 2;
    background-color: map-get($colors, "orange-shade");
    box-shadow: -5px 0 6px $shadow;
    writing-mode: vertical-lr;

    display: flex;
    justify-content: center;
    > h1 {
      font-size: 2.4em;
      letter-spacing: 0.05em;
      align-self: center;
      opacity: map-get($opacity, "blur");

      transform: rotate(180deg);
    }
  }

  // Cards - About
  position: relative;
  .card:nth-child(1) {
    right: (2 * $card-gap-collapsed);
    background-image: url("../images/me/code.jpg");
  }

  .card:nth-child(2) {
    right: (1 * $card-gap-collapsed);
    background-image: url("../images/me/formal.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card:nth-child(3) {
    right: (0 * $card-gap-collapsed);
    background-image: url("../images/me/vector-art.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  cursor: pointer;
  &:hover {
    .upper-box {
      > h1 {
        transition: 0.1s opacity ease-in;
        opacity: map-get($opacity, "focused");
      }
    }

    .card:nth-child(1) {
      right: (2 * $card-gap-expanded) + $card-offset-expanded;
    }

    .card:nth-child(2) {
      right: (1 * $card-gap-expanded) + $card-offset-expanded;
    }

    .card:nth-child(3) {
      right: (0 * $card-gap-expanded) + $card-offset-expanded;
    }
  }

  position: relative;
}

// Section - Skills
.box-2 {
  display: flex;
  z-index: 0;
  overflow: hidden;

  .col-1 {
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    > h1 {
      font-size: 2.4em;
      letter-spacing: 0.2em;
      opacity: map-get($opacity, "blur");
    }
  }

  .col-2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      list-style: none;
      width: 90%;
      height: 90%;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      li {
        .skill-name {
          font-size: 1.2em;
          padding-bottom: 0.4em;

          // Skill percentage
          > span {
            float: right;
          }
        }

        .full-bar,
        .progress-bar {
          height: 0.8em;
          background-color: map-get($colors, "blue");
          // border-radius: 0.8em;
        }

        .progress-bar-container {
          .progress-bar {
            // background-color: map-get($colors, "orange");
            background: linear-gradient(
              to right,
              map-get($colors, "orange-shade"),
              map-get($colors, "orange")
            );
            // border-radius: 0.8em 0 0 0.8em;
            box-shadow: 0 5px 6px $shadow;
          }
        }
      }
    }
  }
}
// #endregion

// #region Intro Animations

// Section - Name
.box-1 {
  // set initial opacity
  .section-1,
  .section-2 {
    opacity: 0;
  }

  .section-1 {
    animation: fade-to-right $index-intro-duration forwards 0.1s ease-out;
  }
  .section-2 {
    animation: fade-to-right $index-intro-duration forwards 0s ease-out;
  }
}

// Section - Desc
.box-3 {
  // set initial opacity
  .desc-bg,
  .text-desc {
    opacity: 0;
  }

  .desc-bg {
    animation: fade-to-left-2 $index-intro-duration forwards 0.1s ease-out;
  }
  .text-desc {
    animation: fade-to-left $index-intro-duration forwards 0s ease-out;
  }
}

// Section - Works
.box-4 {
  animation: slide-up $index-intro-duration forwards 0s ease-out;

  .upper-box {
    animation: slide-up $index-intro-duration forwards 0s ease-in;
  }
}

// Section - Background
.box-5 {
  animation: slide-left $index-intro-duration forwards 0s ease-out;

  .upper-box {
    animation: slide-left $index-intro-duration forwards 0s ease-in;
  }
}

// Section - Skill Set
.box-2 {
  .col-1 {
    animation: fade-to-right $index-intro-duration forwards 0s ease-out;
  }

  .col-2 {
    // set initial opacity
    opacity: 0;
    animation: fade-to-right $index-intro-duration forwards 0.4s ease-out;

    .progress-bar {
      width: 0;
      animation: expand-full-width ($index-intro-duration + 100ms) forwards
        ($index-intro-duration + 500ms) ease-out;
    }
  }
}

// #endregion

// #endregion

// #region ---------- WORKS ----------

#works-body {
  p,
  button,
  .img-label {
    font-family: "Inter";
  }

  
}

// Column 1 - Image Slider
.w-col {
  display: flex;
  flex-direction: column;
  padding: 1em 0;

  .w-col-slider {
    overflow: hidden;

    img {
      // image constraint
      max-width: 80vw;
      max-height: 50vh;
    }

    // Swiper drag cursor
    .swiper-wrapper:hover {
      cursor: grab;
    }

    .swiper-wrapper:active {
      cursor: grabbing;
    }

    .swiper-container {
      width: 100%;
      height: 100% !important;
    }

    // Center image in slide
    .swiper-slide {
      text-align: center;
      padding-bottom: 30px;
      height: unset !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      // image styles
      > img {
        border-radius: 20px 50px;
        background: linear-gradient(145deg, #090909, #070707);
        box-shadow: 20px 20px 60px #070707, -20px -20px 60px #090909;

        max-width: 75vw;
      }

      // label style
      .img-label {
        padding-top: 1em;
      }
    }
  }

  // Column 2 - Description
  .w-col-desc {
    flex: 1;
    padding: 1em;
    overflow: hidden;

    text-align: center;

    // Development Stack
    .w-stack {
      display: block;
      padding: 0.3em 0;
    }

    // Description Container
    .w-p {
      padding: 0.5em 0 1em 0;
      line-height: 1.3em;

      transition: transform 0.6s ease-in-out;
      transform: translateX(100%);
      height: 0;

      // Description
      > div {
        transition: opacity 0.6s ease-out;
        opacity: 0;
        padding: 0 0 1em 0;
        line-height: 1.6em;

        // Features
        > ol {
          padding: 0.5em;
          list-style-position: inside;
          font-size: 0.9em;
        }
      }
    }
  }
}

// Transition to open / close description on mobile
.show-p {
  transform: translateX(0) !important;
  height: auto !important;

  > div {
    opacity: 1 !important;
  }
}

.swiper-pagination-bullet {
  background-color: map-get($colors, "teal") !important;
}

// #region Links Style
.w-links {
  text-align: center;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 1em;
  }

  li:last-child {
    margin-right: 0 !important;
  }

}

.link-icon {
  width: 30px;
  height: 30px;
}

.link-icon-sm {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.github {
  content: url("../images/github.svg");
}

.open {
  content: url("../images/open.svg");
}

// #endregion

// Responsive styles
@media (min-width: $screen-md) {
  .w-col {
    flex-direction: row !important;

    .w-col-slider {
      width: 50% !important;
    }

    .w-col-desc {
      text-align: left;
    }

    .w-links {
      text-align: left !important;
    }

    .swiper-slide {
      max-width: 50vw !important;

      > img {
        max-width: 40vw !important;
      }
    }
  }

  .w-col:nth-of-type(even) {
    .w-col-slider {
      order: 2;
    }
    .w-col-desc {
      text-align: right;
    }

    .w-links {
      text-align: right !important;
    }
  }

  .w-p {
    transition: none !important;
    transform: scaleY(1) !important;
    height: auto !important;

    > div {
      opacity: 1 !important;
    }
  }

  .w-toggle {
    display: none !important;
  }
}

// #endregion

// #region ---------- ABOUT ----------

// Get all only from about-body
#about-body {
  font-family: "Inter";

  .container {
    padding: 0 10%;
  }

  p,
  blockquote {
    padding-bottom: 1em;
  }

  // Line spacing
  p {
    line-height: 1.6em;
  }

  // Quote styling
  blockquote {
    padding-left: 0.3em;
    font-family: "Montserrat";
    font-size: 2em;
    font-style: italic;

    // Line highlight on quotes
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: white;
      opacity: 0.4;
      margin-top: 0.6em;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100% !important;

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }

  .swiper-slide {
    padding-bottom: 30px;

    height: unset;

    // center image
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 80%;
      max-height: 60vh;

      border-radius: 20px 50px;
    }
  }

  // Floating links
  .contact-links {
    position: fixed;
    top: 70vh;
    right: 0;

    background-color: map-get($colors, "teal-shade");
    border-radius: 10px 0 0 10px;
    padding: 10px;
    text-align: center;

    // Header
    strong {
      display: none;
    }

    // Links and items
    ul {
      list-style: none;
      padding: 0.3em 0 0 0;
    }

    li {
      padding-bottom: 5px;

      > a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }

    .contact-label {
      padding-left: 0.3em;
      display: none;
    }

    li:last-child {
      padding-bottom: 0 !important;
    }

    img {
      width: 25px;
      opacity: 1 !important;
    }

    &:hover {
      strong,
      .contact-label {
        display: inline;
      }
    }
  }

  @media (min-width: $screen-md) {
    .contact-links {
      strong,
      .contact-label {
        display: inline;
      }
    }
  }
}

// #endregion

// #region Keyframes
@keyframes fade-to-right {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-to-left {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-to-left-2 {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }
  to {
    opacity: 0.15;
    transform: translateX(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes expand-full-width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

// #endregion
